# ================================
# Better Auth Configuration
# ================================

# Secret used to sign tokens / sessions

# atau kesini untuk generate Secret Key  https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=your_random_secret_here

# Base URL of your app
BETTER_AUTH_URL=http://localhost:3000


# ================================
# Database (PostgreSQL)
# ================================

# Format:
# postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public
DATABASE_URL="postgresql://postgres:password@localhost:5432/your_database_name?schema=public"

NODE_ENV=development
