.footer-title {
  color: white;
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 15px;
}

.footer-text {
  color: white;
  font-size: 0.875rem;
  line-height: 1.6;
  text-align: justify;
}
